<!DOCTYPE html>
<html>
	<head>
		<title><%= title %></title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="./javascripts/jquery.js"></script>
		<script src="http://localhost:3000/socket.io/socket.io.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				io = io.connect();

				var name = prompt("Please enter your name:");
				io.emit("new_user", {name: name});

				io.on("load_messages", function(data){
					console.log("all messages", data.messages);
					for(var i in data.messages)
					{
						$("#message_board").append("<p>"+data.messages[i][name]+": "+data.messages[i][message]+"</p>");
					};
				})

				$("#new_message").submit(function(e){
					e.preventDefault();
					io.emit("new_message", {message: $("#message").val(), name: name});
				});

				io.on("post_new_message", function(data){
					$("#message_board").append("<p>"+data.user+": "+data.new_message+"</p>");
				})
			});
		</script>
	</head>
	<body>
		<div id="wrapper">
			<p>Conversation Board</p>
			<div id="message_board">
				
			</div>
			<form id="new_message">
				<input type="text" id="message" placeholder="enter your message here" />
				<input type="submit" value="send" />
			</form>
		</div>
	</body>
</html>