<!DOCTYPE HTML>
<html lang="en-US">
<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/login.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
	<script src="./javascripts/jquery.js"></script>
	<script src="http://localhost:3000/socket.io/socket.io.js"></script>
	<script type="text/javascript">
		$(document).ready(function(){
			io = io.connect();

			io.emit("get_photos");
			io.emit("check_is_logged_in");

			io.on("users_photo_url", function(data){
				for(var index in data.photo_url)
				{
					$("form").after("<img src='"+data.photo_url[index]['photo_url']+"'>");
				}
			})

			io.on("is_logged_in", function(data){
				$("#error_message").html(data.message);
				$("#login_form").find("input:not(:disabled)").prop("disabled",true);

			});

			$("#login_form").submit(function(e){
				e.preventDefault();
				io.emit("login", {
					email: $("#email").val(), 
					password: $("#password").val()
				});
			});

			io.on("login_failed", function(data){
				$("#error_message").html("<p id='message'>"+data.message+"</p>");
			});

			io.on("login_redirect", function(data){
				window.location.replace(data.url);
			});
		});
	</script>
</head>
<body>
	<div id="wrapper">
		<h1>Village88 Times</h1>
		<div id="error_message"></div>
		<form role="form" id="login_form">
			<div class="form-group">
				<label for="email">Email</label>
				<input type="text" id="email" class="form-control" />
			</div>
			<div class="form-group">
				<label for="password">Password</label>
				<input type="password" id="password" class="form-control" />
			</div>
			<input type="submit" value="Login" class="btn btn-primary" />
		</form>
	</div>
</body>
</html>