<!DOCTYPE html>
<html>
	<head>
		<title>Group Chat</title>
		<link rel='stylesheet' href='/stylesheets/style.css' />
		<script src="./javascripts/jquery.js"></script>
		<script src="http://localhost:3000/socket.io/socket.io.js"></script>
		<script>
			$(document).ready(function(){
				var name = prompt("Please enter your name:");
				io = io.connect();
				io.emit("got_a_new_user", {name: name});
				
				io.on("new_user", function(data){
					$("#wrapper").append("<div class='box' id='"+data.new_user_name+"'><div class='box_name'>" + data.new_user_name + "</div><textarea class='box_content'></textarea></div>");
				});

				io.on("existing_users", function(data){
					for(var i in data.users)
					{
						$("#wrapper").append("<div class='box' id='"+data.users[i]+"'><div class='box_name'>" + data.users[i] + "</div><textarea class='box_content'></textarea></div>");
					}
				});

				$(".box_content").on("keypress", function(e){
					alert("test");
					var key_pressed = String.fromCharCode(e.which);
					alert(key_pressed);
					console.log("key pressed:", key_pressed);
				});
			});
		</script>
	</head>
	<body>
		<div id="wrapper">
			
		</div>
	</body>
</html>